<h1>Forgot Password</h1>
<form action="/forgot" method="POST">
    <div class="from-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" autofocus>
    </div>
    <button class="btn btn-primary" type="submit"> Reset Password</button>
</form>
